@page
@model sho.rt.Areas.Admin.Pages.Portal.IndexModel
@{
    ViewData["Title"] = "Portal";
}
<div><a asp-page="/Mapping/Index">Mapping</a></div>
<div><a asp-page="/CustomMapping/Index">CustomMapping</a></div>