@page "{param?}"
@model IndexModel
@{
    ViewData["Title"] = "sho.rt";
}

<div class="text-center">
    @Model.ErrorMessage
    <form method="post">
        <input name="url" />
        <input type="submit" />
    </form>
    @Model.ShortenedUrl
</div>
