@page "{shortenedUrl?}"
@model IndexModel
@{
    ViewData["Title"] = "sho.rt";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-10">@Model.ErrorMessage</div>
    <div class="col-12 col-md-10">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" id="url-tab" href="#url_tab_content" role="tab" aria-controls="url" aria-selected="true">Shortened Url</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="image-tab" href="#image_tab_content" role="tab" aria-controls="Image" aria-selected="false">Image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="video-tab" href="#video_tab_content" role="tab" aria-controls="Video" aria-selected="false">Video</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="audio-tab" href="#audio_tab_content" role="tab" aria-controls="Audio" aria-selected="false">Audio</a>
            </li>
        </ul>
    </div>

    <div class="tab-content col-12 col-md-10">
        <div class="tab-pane fade show active" id="url_tab_content" role="tabpanel" aria-labelledby="url-tab">
            <div class="w-100">
                <form id="input_form_url" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="url" />
                    <div class="form-group">
                        <label>Url:</label>
                        <input id="url_input" class="form-control" name="url" placeholder="https://www.google.com" />
                    </div>
                    <div class="form-group form-check">
                        <input id="need_password_checkbox_url" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Need Password?</label>
                    </div>
                    <div class="form-group d-none" id="password_input_group_url">
                        <label>Password:</label>
                        <input class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.ShortenedUrl))
            {
                <div class="w-100 row align-items-center">
                    <label class="col-auto pl-0 mb-0">Shortened Url:</label>
                    <input class="form-control col" id="shortened_url_input" readonly value="@Model.ShortenedUrl" />
                    <button class="col-auto btn btn-primary" id="click_to_copy_button" onclick="clip_to_copy_shortened_url()">Click to copy!</button>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="image_tab_content" role="tabpanel" aria-labelledby="image-tab">
            <div class="w-100">
                <form id="input_form_image" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="image" />
                    <label class="custom-file-upload w-100">
                        <input id="image_input" class="w-100" type="file" name="image" accept="image/*" />
                        <i class="fa fa-upload"></i> Upload Image
                    </label>
                    <img id="image_previewer" class="contain vh-80 d-none w-100" />
                    <div class="form-group form-check">
                        <input id="need_password_checkbox_image" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Need Password?</label>
                    </div>
                    <div class="form-group d-none" id="password_input_group_image">
                        <label>Password:</label>
                        <input class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="video_tab_content" role="tabpanel" aria-labelledby="video-tab">
            <div class="w-100">
                <form id="input_form_video" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="video" />
                    <label class="custom-file-upload w-100">
                        <input id="video_input" class="w-100" type="file" name="video" accept="video/*" />
                        <i class="fa fa-upload"></i> Upload Video
                    </label>
                    <video id="video_previewer" class="contain vh-80 d-none w-100" controls></video>
                    <div class="form-group form-check">
                        <input id="need_password_checkbox_video" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Need Password?</label>
                    </div>
                    <div class="form-group d-none" id="password_input_group_video">
                        <label>Password:</label>
                        <input class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="audio_tab_content" role="tabpanel" aria-labelledby="audio-tab">
            <div class="w-100">
                <form id="input_form_audio" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="audio" />
                    <label class="custom-file-upload w-100">
                        <input id="audio_input" class="w-100" type="file" name="audio" accept="audio/*" />
                        <i class="fa fa-upload"></i> Upload Audio
                    </label>
                    <audio id="audio_previewer" class="contain d-none w-100" controls></audio>
                    <div class="form-group form-check">
                        <input id="need_password_checkbox_audio" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Need Password?</label>
                    </div>
                    <div class="form-group d-none" id="password_input_group_audio">
                        <label>Password:</label>
                        <input class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <script type="text/javascript">
        window.onpageshow = function () {
            input_form_url.reset();
            need_password_checkbox_url.onclick = function () {
                password_input_group_url.classList.toggle("d-none");
            }
            input_form_image.reset();
            need_password_checkbox_image.onclick = function () {
                password_input_group_image.classList.toggle("d-none");
            }
            input_form_video.reset();
            need_password_checkbox_video.onclick = function () {
                password_input_group_video.classList.toggle("d-none");
            }
            input_form_audio.reset();
            need_password_checkbox_audio.onclick = function () {
                password_input_group_audio.classList.toggle("d-none");
            }
            url_input.focus();
            initImagePreviewer();
            initVideoPreviewer();
            initAudioPreviewer();
        }
        function clip_to_copy_shortened_url() {
            shortened_url_input.select();
            shortened_url_input.setSelectionRange(0, 99999)
            document.execCommand("copy");
            click_to_copy_button.innerText = "Copied";
        }
        function initImagePreviewer() {
            image_input.addEventListener('change', function () {
                const files = this.files || [];
                if (!files.length) return;
                const reader = new FileReader();
                reader.onload = function (e) {
                    image_previewer.classList.remove("d-none");
                    image_previewer.src = e.target.result;
                };

                reader.readAsDataURL(files[0]);
            });
        }
        function initVideoPreviewer() {
            const videoSource = document.createElement('source');
            video_input.addEventListener('change', function () {
                const files = this.files || [];
                if (!files.length) return;
                const reader = new FileReader();
                reader.onload = function (e) {
                    video_previewer.classList.remove("d-none");
                    videoSource.setAttribute('src', e.target.result);
                    video_previewer.appendChild(videoSource);
                    video_previewer.load();
                    video_previewer.play();
                };

                reader.readAsDataURL(files[0]);
            });
        }
        function initAudioPreviewer() {
            const audioSource = document.createElement('source');
            audio_input.addEventListener('change', function () {
                const files = this.files || [];
                if (!files.length) return;
                const reader = new FileReader();
                reader.onload = function (e) {
                    audio_previewer.classList.remove("d-none");
                    audioSource.setAttribute('src', e.target.result);
                    audio_previewer.appendChild(audioSource);
                    audio_previewer.load();
                    audio_previewer.play();
                };

                reader.readAsDataURL(files[0]);
            });
        }
    </script>
}
