@page "{shortenedUrl?}"
@model IndexModel
@{
    ViewData["Title"] = "sho.rt";
}

<div class="row justify-content-center">
    <div class="col-12 col-md-10">@Model.ErrorMessage</div>
    <div class="col-12 col-md-10">
        <form method="post">
            <div class="form-group">
                <label>Url:</label>
                <input id="url_input" class="form-control" name="url" placeholder="https://www.google.com" />
            </div>
            <div class="form-group form-check">
                <input id="need_password_checkbox" type="checkbox" class="form-check-input" />
                <label class="form-check-label">Need Password?</label>
            </div>
            <div class="form-group d-none" id="password_input_group">
                <label>Password:</label>
                <input class="form-control" name="password" />
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
    @if (!string.IsNullOrWhiteSpace(Model.ShortenedUrl))
    {
        <div class="col-12 col-md-10 row align-items-center">
            <label class="col-auto pl-0 mb-0">Shortened Url:</label>
            <input class="form-control col" id="shortened_url_input" readonly value="@Model.ShortenedUrl" />
            <button class="col-auto btn btn-primary" id="click_to_copy_button" onclick="clip_to_copy_shortened_url()">Click to copy!</button>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            need_password_checkbox.onclick = function () {
                password_input_group.classList.toggle("d-none");
            }
            url_input.focus();
        }
        function clip_to_copy_shortened_url() {
            shortened_url_input.select();
            shortened_url_input.setSelectionRange(0, 99999)
            document.execCommand("copy");
            click_to_copy_button.innerText = "Copied";
        }
    </script>
}
